<!DOCTYPE html>

<html>
    <head th:replace="layout/plantilla :: head">
    </head>
    
    <body>
        <header th:replace="layout/plantilla :: header"/>
        
        <form th:action="@{/estado/guardar}"
              method="post"
              th:object="${estado}">
            <input type="hidden" name="idEstado" th:field="*{idEstado}"/>
            <label>Nombre Estado</label>
            <input type="text" 
                   name="nombreEstado"
                   required="true"
                   th:field="*{nombreEstado}"/>
            <br>
            <label>Cantidad Provincias</label>
            <input type="number" 
                   min="1"
                   name="numProvincias"
                   required="true"
                   th:field="*{numProvincias}"/>
            <br>
            <label>Poblacion</label>
            <input type="number" 
                   min="0"
                   name="poblacion"
                   required="true"
                   th:field="*{poblacion}"/>
            <br>
            <label>Tiene costas</label>
            <input type="checkbox" 
                   name="costas"
                   th:field="*{costas}"/>
            <br>
            <hr>
            <input type="submit" value="Guardar" name="guardar" />
            <hr>
            
        </form>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>